@media only screen and (max-width: 1460px) {

	h1.promo-h {
	    font-size: 83px;
	    line-height: 130px;
	}

}

@media only screen and (max-width: 1280px) {

	.row {
		padding: 0 2%;
	}

	.col-4 {
		width: 14%;
		text-align: right;
	}

	.show-search-btn img {
		width: 22px;
		height: auto;
	}

	h1.promo-h {
		font-size: 70px;
		line-height: 106px;
		padding: 0 20px;
	}

}


@media only screen and (max-width: 1024px) {

	.main-nav-inner-links .inner-nav li {
	    width: 25%;
	    padding: 15px 3%;
	}

	h1.promo-h {
		font-size: 50px;
		line-height: 87px;
	}

	/*-- Main Page - Section 3 --*/

	.main-goods-slider {
	    margin: 10px auto;
	    width: 86%;
	}

	/*-- /Main Page - Section 3 --*/

}

@media only screen and (max-width: 900px) {

	.main-nav-inner-links .inner-nav li {
	    width: 25%;
	    padding: 15px 1.5%;
	}

}


@media only screen and (max-width: 768px) {

	/*-- Header --*/

	.header-row-1 {
	    padding: 18px 0;
	}

	.respmenubtn-box {
		display: inline-block;
		vertical-align: middle;
		width: 25%;
	}

	.header-row-1 .col-1 {
	    width: 50%;
	}

	.logo {
	    margin: 0 auto;
	}

	.header-row-1 .col-2 {
	    display: none;
	}

	.header-row-1 .col-3 {
	    display: none;
	}

	.col-4 {
	    width: 25%;
	}

	.header-row-2 {
	    display: none;
	}

	.pseudo-bottom {
		display: none;
	}

	.resp-pseudo-bottom {
		display: block;
	}

	/*-- /Header --*/

	/*-- Main Page - Section 1 --*/

	.promo-block {
		height: 450px;
	}

	.promo-slider {
	    height: 450px;
	}

	.promo-slider .promo-slide {
		height: 450px;
	}

	.promo-slider div img {
	    width: auto;
	    max-height: 100%;
	}

	h1.promo-h {
		font-size: 32px;
		line-height: 66px;
		padding: 0 7px;
	}

	/*-- /Main Page - Section 1 --*/

	/*-- Main Page - Section 2 --*/

	.main-set-2-bg:after {
	    margin: 35px auto -3px auto;
	}

	.advantages-thumbnails .thumbnail-box {
	    width: 50%;
	    padding: 35px 11%;
	}

    /*-- /Main Page - Section 2 --*/

    /*-- Main Page - Section 3 --*/

	.main-goods-slider {
		width: 77%;
	}

    /*-- /Main Page - Section 3 --*/

    /*-- Main Page - Section 4 --*/

    .main-sect-5-bg {
	    padding: 140px 0 75px 0;
	    overflow: hidden;
	}

	/*-- /Main Page - Section 4 --*/

	/*-- Main Page - Section 4 --*/

	.main-sect-6-bg {
	    padding: 60px 0 90px 0;
	}

	.callback-form {
	    padding: 5px 0;
	}

	.callback-form .inpt-box {
	    display: block;
	    width: 306px;
	    height: 40px;
	    margin: 30px auto;
	}

	.callback-form .submit-box {
		display: block;
	    width: 302px;
	    height: 40px;
	    margin: 0 auto;
	}

	.callback-form .submit-btn {
		width: 100%;
		margin: 0;
	}

    /*-- /Main Page - Section 4 --*/


    /*-- Catalog Page - Section 1 --*/

	.good-model {
	    width: 82%;
	    margin: 0 auto;
	    padding: 20px 0 25px 0;
	    overflow: hidden;
	}

	.good-model h3 {
		text-align: center;
		padding: 20px 0;
	}

	.good-model-thumbnails {
		width: 105%;
	    margin: 0 -2.5%;
	}

	.good-model-thumbnails .good-thumbnail-box {
		width: 50%;
		padding: 30px 2.5%;
	}

    /*-- /Catalog Page - Section 1 --*/


	/*-- Product Page - Section 1 --*/

	.good-slider {
	    padding: 40px 0 35px 0;
	}

	.good-slider .col-1,
	.good-slider .col-2 {
		width: 100%;
		max-width: 
		margin: 0 auto;
	}

	.good-slider-box {
	    display: block;
	    width: 100%;
	    max-width: 550px;
	    min-width: 400px;
	    margin: 0 auto;
	}

	.good-slider .col-2 {
	    padding: 70px 0;
	    display: block;
	    width: 100%;
	    max-width: 550px;
	    min-width: 400px;
	    margin: 0 auto;
	}

	.table-col-1 {
		padding: 0;
	}

	.additional-info {
	    padding: 34px 0 0 0;
	}

	.good-thumbnail_product_page .good-model-thumbnails {
		width: 100%;
		margin: 0;
	}

	/*-- /Product Page - Section 1 --*/

    /*-- Footer --*/

    .footer .col-1,
    .footer .col-3 {
	    width: 50%;
	}

	.footer .col-2 {
		display: none;
	}

    /*-- /Footer --*/

	/*-- Popup --*/

    .popup-1-material-thumbnails .material {
	    width: 20%;
	}

	.popup-2-thumbnails .thumbnail {
	    width: 100%;
	}

	.thumb-select h3 {
	    font-size: 17px;
	    line-height: 29px;
	}

	/*-- /Popups --*/

}

@media only screen and (max-width: 650px) {

	.resp-main-nav-inner-links .inner-nav li {
	    width: 33.33%;
	}

	.resp-main-nav-last-row {
	    padding: 30px 0;
	}

	.resp-main-nav-last-row .col-1 {
	    width: 100%;
	    text-align: center;
	    padding: 0 0 30px 0;
	}

	.resp-main-nav-last-row .top-nav-list {
		width: 100%;
		padding: 0;
	}

	.resp-main-nav-last-row .col-2 {
		width: 100%;
		padding: 40px 0 20px 0;
		text-align: center;
	}

	/*-- Main Page - Section 3 --*/

	.main-goods-slider {
		margin: 10px auto;
		width: 77%;
	}

    /*-- /Main Page - Section 3 --*/

    /*-- Catalog Page - Section 1 --*/

	.good-model {
	    width: 100%;
	}

	.good-model-thumbnails .good-thumbnail-box {
		width: 50%;
		padding: 30px 2.5%;
	}

    /*-- /Catalog Page - Section 1 --*/

    /*-- Product Page - Section 1 --*/



	/*-- /Product Page - Section 1 --*/

	.popup-1-thumbnails .thumbnail-box {
	    width: 50%;
	}

	/*-- Popup --*/

	.popup-1-form .category {
	    width: 33.33%;
	}

	.popup-buttons .to-top {
	    position: relative;
	    margin: 16px auto;
	}

    .popup-1-material-thumbnails .material {
	    width: 25%;
	}


	/*-- /Popups --*/

}



@media only screen and (max-width: 480px) {

	.for-desc {
		display: none;
	}

	.for-resp-mob {
		display: block;
	}

	.header-row-1 .col-1 {
	    width: 50%;
	    display: none;
	}

	.respmenubtn-box {
		width: 50%;
	}

	.col-4 {
		width: 50%;
	}

	.resp-main-nav-inner-links .inner-nav li {
	    width: 50%;
	}

	.resp-logo-box {
		display: block;
	}

	.promo-block {
		height: 250px;
	}

	.promo-slider {
		height: 250px;
	}

	.promo-slider .promo-slide {
		height: 250px;
	}

	h1.promo-h {
	    font-size: 18px;
	    line-height: 47px;
	}

	.slick-dots {
		bottom: 28px;
	}

	.main-set-2-bg:before {
	    display: none;
	}

	section.main-set-2 {
	    padding: 55px 0 0 0;
	}

	.main-set-2-bg {
	    text-align: left;
	}

	.main-set-2-bg:after {
	    height: 315px;
	}

	.main-set-2 h2 {
	    font-size: 18px;
	    line-height: 22px;
	}

	.main-set-2 h1 {
	    font-size: 45px;
	    line-height: 53px;
	    padding: 0 0 23px 0;
	}

	.advantages-thumbnails .thumbnail-box {
	    width: 100%;
	    padding: 35px 8%;
	}

	.advantages-thumbnails .thumbnail {
		display: table;
		text-align: center;
		width: 100%;

	}

	.advantages-thumbnails .thumbnail-icon-box {
	    display: table-cell;
	    vertical-align: middle;
	}

	.advantages-thumbnails .thumbnail p {
		display: table-cell;
	    vertical-align: middle;
		padding: 10px 0 10px 13%;
    	text-align: left;
	}

	.main-sect-4-bg h2 {
		font-size: 36px;
		line-height: 42px;
		padding: 0;
	}

	.switch-goods-list {
		padding: 45px 0;
	}

	.catalog-section .switch-goods-link {
		min-width: 130px;
	    padding: 9px 7px 7px 7px;
	}

	.main-goods-slider {
		width: 98%;
	}

	.main-goods-slider button.slick-arrow {
		top: 100%;
		margin: 15px 0 0 0;
	}

	.main-goods-slider button.slick-prev {
		left: -10px;
	}

	.main-goods-slider button.slick-next {
		right: -8px;
	}

	/*-- Catalog Page - Section 1 --*/

	.catalog-section {
		padding: 60px 0 10px 0;
	}

	.catalog-section .inner-page-h {
		font-size: 36px;
		line-height: 44px;
		padding: 7px 0 0 0;
	}

	.good-model-thumbnails {
		width: 100%;
		margin: 0;
	}

	.good-model-thumbnails .good-thumbnail-box {
		display: block;
	    width: 265px;
	    margin: 0 auto;
	    padding: 30px 0;
	}

	.pagination {
	    padding: 20px 0 0 0;
	}

	.pagination .pagination-arrow {
	    display: none;
	}

	.product-descript-sect h2 {
	    padding: 15px 0 20px 0;
	}

	.resp-pagination-arrows {
	    display: block;
	}


	/*-- /Catalog Page - Section 1 --*/


	/*-- Catalog Page - Section 2 --*/

	.product-descript-sect h2 {
	    font-size: 36px;
	    line-height: 45px;
	}

	/*-- /Catalog Page - Section 2 --*/

	/*-- Catalog Page - Section 3 --*/

	.main-sect-6-bg {
		padding: 75px 0 90px 0;
	}

	.pagination li.pagination-arrow-item {
	    display: none;
	}

	.callback-form-sect h2 {
		font-size: 36px;
		line-height: 42px;
	}

	.callback-form .inpt-box {
		width: 280px;
	}

	.callback-form .submit-box {
	    width: 280px;
	}

	/*-- /Catalog Page - Section 3 --*/

	/*-- Product Page - Section 3 --*/

	.good-slider-box {
		min-width: 340px;
	}

	.good-slider .col-2 {
		min-width: 340px;
	}

	/*-- /Product Page - Section 3 --*/

	/*-- Footer --*/

	.footer {
		padding: 34px 0;
	}

    .footer .col-1,
    .footer .col-3 {
	    width: 100%;
	    text-align: center;
	    padding: 20px 0;
	}

	.web-studio {
		float: none;
		width: 140px;
		margin: 0 auto;
	}

	.web-studio h2 {
		display: inline-block;
		vertical-align: top;
		float: none;
		padding: 10px 0;
		text-align: center;
	}

	.web-studio .vlad-web {
		float: none;
		margin: 0 auto;
	}

    /*-- /Footer --*/

    /*-- Popup --*/

	.popup-1-header h2 {
		padding: 0 12% 0 0;
		font-size: 36px;
		line-height: 38px;
	}

	.close-popup {
	    width: 34px;
	}

    .popup-1-thumbnails .thumbnail-box {
	    width: 80%;
	    display: block;
	    margin: 0 auto;
	}

	.popup-1-thumbnails .img-popup-box {
	    display: inline-block;
	    vertical-align: top;
	    width: 50%;
	    height: 140px;
	}

	.popup-1-thumbnails .thumbnail {
	    display: block;
	    width: 100%;
	    height: 140px;
	}

	.popup-1-thumbnails .img-popup-box img {
	    height: auto;
	    min-width: 100%;
	    height: 100%;
	    border: none;
	}

	.popup-1-thumbnails .thumb-desc {
	    display: inline-block;
	    vertical-align: top;
	    width: 50%;
	    height: 140px;
	    position: relative;
	}

	.popup-1-thumbnails .thumb-desc p {
		padding: 47px 4%;
	}

	.popup-1-form .category {
		width: 50%;
	}

	.popup-1-material-thumbnails .material {
		width: 33.33%;
	}

	.additional-elem-row .col-1,
	.additional-elem-row .col-2 {
	    width: 100%;
	    padding: 7px 0;
	}

	.additional-elem-row .col-2 {
	    text-align: center;
	}

	.count-elements {
		display: block;
		width: 100%;
	}

	.count-elements .elem-minus-btn,
	.count-elements .elem-plus-btn {
	    width: 20%;
	}

	.count-elements-val {
	    max-width: 60%;
	}

	/*-- /Popups --*/

}


@media only screen and (max-width: 350px) {

	.resp-main-nav-inner-links .inner-link.thumb {
		display: block;
		min-height: 150px;
	}

	.resp-main-nav-inner-links .inner-link.thumb .img-box {
	    display: block;
	    width: 100%;
	    height: 97px;
	}

	.resp-main-nav-inner-links .inner-link.thumb p {
	    line-height: 19px;
	}

	.main-set-2-bg:after {
	    height: 210px;
	}

	/*-- Product Page - Section 1 --*/

	.good-slider-box {
		min-width: 280px;
	}

	.good-slider-big-photo {
	    height: 210px;
	}

	.good-slider-big-photo img {
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.good-slider .col-2 {
		min-width: 280px;
	}

	.miniature-box {
		width: 48%;
	}

	/*-- /Product Page - Section 1 --*/

	/*-- Popup --*/

	.popup-1-thumbnails .thumbnail-box {
	    width: 100%;
	    display: block;
	    margin: 0 auto;
	}

	.popup-1-material-thumbnails .material {
		width: 50%;
	}

	.blue-btn {
	    font-size: 19px;
	    line-height: 24px;
	}

	/*-- /Popup --*/

}


@media only screen and (min-width: 768px) {

	.header-row-1.resp {
	    position: relative !important;
	    background: rgba(255, 255, 255, 1) !important;
	}

	.resp-nav {
		display: none !important;
	}

}